/*
	Author: Shane Schroll | 502
	Plugin Name: Notify
	Version: 1.0.1
*/

$white: #fff;

.notify-banner {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.6rem;
	background-color: #cc0000;
	z-index: 999;

	.notify-wrapper {
		max-width: 50rem;
		margin: 0 auto;
		text-align: center;

		p {
			display: inline-block;
			color: $white;
			font-size: 1rem;
			margin-bottom: 0;
			line-height: 1.2;

			a {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	.notify-close-button {
		background: unset;
		border: unset;
		position: relative;
		left: 1.75rem;
		font-size: 1.25rem;
		line-height: 0.5;
		color: $white;
		font-weight: bold;
		&:hover { cursor: pointer; }
	}
}